body {
  background-color: #060d14;
}

.center-cards {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
